@model MVC_KatDemo.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Random movie:</h1>
<h2>@Model.nName</h2>
<button type="button" class="btn btn-warning">Sign-up</button>
